* {
	margin:0;
	padding:0;
	font-family: Times New Roman;
	color: white;
}

a {color:#3C4070;}

html, body {
	height:100%;
}

canvas {
	position:absolute;
	height: 90%;
	width: 90%;
	z-index: -1;
}

h1 {
	font-size: 5vw;
	position:absolute;
	text-align: left;
}

#link-header {
	height: 80%;
	position: fixed;
}

#current-page {
	float:left;
	display: inline-block;
	font-size: 5vw;
	height: 5vw;
}


.tabs {
	margin-left: auto;
    margin-right: auto;
    width:7em;
	position: relative;
	text-transform: uppercase;
	display:inline-block;
	letter-spacing: 5px;
}

.tab {

	margin-left: 1vw;
	display: inline-block;
	font-size: 2vw;
}


#myDescription {
	width: 70%;
	font-size: 2vw;
	background-color: black;
	border:2px solid;
	border-color: rgb(140, 115, 115); 
}

#aboutMe {
	top:50%;
	position:fixed;
}

h2 {
	font-size: 4vw;
	color: white;
}

body {

	font-size: 100%;
	background-color:#2A1617;
	background-image:url(images/Background/moon.jpg);
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	/* background-blend-mode: soft-light; */
}


p {
	font-size: 3vw;
}

div {
	
	
}
form {
	font-size: 5vw;
	width: 10vw;
	height: 5vw;
}
ul {
	list-style: none;
}

.panels {
	background-color: #212121;
	position: absolute;
	display: block;
	text-align: center;
	float:right;
	top: 50%;
	left:50%;
	width: 50%;

}

.panel {
	/* letter-spacing: 3px; 
	text-shadow: 3px 2px red;
	font-size:10vw 
	transition: background-color 2000ms;

	display:inline-block;*/
	
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	font-size: 2vw;
	border-radius: 25px;
	text-decoration: bold;
	opacity: 0.1;
	background-color:#7C6C6C;
	border:2px solid;
	border-color: rgb(140, 115, 115); 
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
	box-shadow:0 1px 1px rgba(0,0,0,.05);

	text-transform: uppercase;
	position: relative;
	line-height:10%;
	padding: 1vw;
	display: table;
	width: 40%;
	float:left;
}

.left-column {
	padding: 1vw;
	width: 40%;
	float:left;
}
.right-column {
	padding: 1vw;
	width: 50%;
	float: right;
}

.left.panel {
	width: 90%;
	float:right; 
}
.right.panel {
	width: 100%;
	float:right; 
}
.panel:hover {
	background-color: white;
	color: black;
}

#myDescription {
	width: 30%;
	font-size: 2vw;
	background-color: black;
	border:2px solid;
	border-color: rgb(140, 115, 115); 
}
